.price {
  margin-top: 4px;
  font-size: 2.25rem;
  font-weight: 900;
}

.trending {
  margin: 0 5px 5px 0;
}

.percent {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.ratio {
  font-size: 15px;
}

.info {
  margin-left: 12px;
}


.tooltip {
  z-index: 9999;
}
