@import "../../colors.scss";

.card{
    transform: scale(1.0);
    transition-duration: .2s;

    &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        transform: scale(1.05);
        transition-duration: .2s;
    }
}

.card-link {
    color: $default-text;

    &:hover{
        color: $default-text;
    }
}